<ion-content>
  <ion-grid>
    <ion-row class="blueBg">
      <ion-col>
        <div class="text-center mb-50">
          <img class="mt-50 mb-10" width="277" height="78" src="assets/logo.png" alt="" />
        </div>
      </ion-col>
    </ion-row>

    <ion-grid class="cus-card">
      <form [formGroup]="profileForm">
        <ion-row>
          <ion-col class="pl-20">
            <div>
              <ion-icon [routerLink]="['/home']" size="large" name="close-outline"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="mt-5">
          <ion-col>
            <ion-item>
              <ion-label position="floating">
                <ion-icon name="mail" slot="start"></ion-icon>
                Email
              </ion-label>
              <ion-input (input)="removeString($event)"></ion-input>
            </ion-item>
            <p class="ml-20 danger" *ngIf="profileForm.touched && errorControl.email.errors?.required">
              Email is required
            </p>
            <p class="ml-20 danger" *ngIf="profileForm.touched && errorControl.email.status === 'INVALID' ">
              Email is incorrect
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">
                <ion-icon name="lock-closed"></ion-icon>
                Password
              </ion-label>
              <ion-input [type]=passwordType formControlName="password"></ion-input>
              <ion-icon *ngIf="isSeen" (click)="passwordSeenStatus()" class="eye" name="eye-outline" slot="end">
              </ion-icon>
              <ion-icon *ngIf="!isSeen" (click)="passwordSeenStatus()" class="eye" name="eye-off-outline" slot="end">
              </ion-icon>

            </ion-item>
          </ion-col>
        </ion-row>
      </form>

    </ion-grid>

    <ion-row class="mt-30  margin-top">
      <ion-col class="text-center">
        <div *ngIf="showSignUpLoader" class="loader1"></div>
        <ion-chip *ngIf="!showSignUpLoader" [ngClass]="profileForm.valid ? 'cus-chip' : 'cus-chip-dis'">
          <ion-label class="text-center cus-label" (click)="submitLoginForm()">
            LOG IN
          </ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <div class="ion-text-center">

      <div class="form-group form-check text-center ion-text-center">
        <a [routerLink]="['/reset']">Forgot Password?</a>
      </div>

    </div>

    <ion-row>
      <ion-col>
        <div class="separator">
          <div class="line"></div>
          <p>OR</p>
          <div class="line"></div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="text-center">
        <ion-chip class="cus-chip-social" (click)="googleSignIn()">
          <ion-label class="text-center cus-label-social social-chip-space">
            <ion-icon name="logo-google"></ion-icon>
            CONTINUE WITH GOOGLE
          </ion-label>
        </ion-chip>
      </ion-col>
      <ion-col class="text-center">
        <ion-chip class="cus-chip-social" (click)="AppleSignIn()">
          <ion-label class="text-center cus-label-social social-chip-space">
            <ion-icon name="logo-apple"></ion-icon>
            CONTINUE WITH Apple
          </ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col class="text-center">
        <ion-chip class="cus-chip-social">
          <ion-label class="text-center cus-label-social social-chip-space">
            <ion-icon src="assets/fb-logo.svg"></ion-icon>
            CONTINUE WITH FACEBOOK
          </ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="text-center">
        <ion-chip class="cus-chip-social">
          <ion-label class="text-center cus-label-social social-chip-space">
            <ion-icon name="logo-apple"></ion-icon>
            CONTINUE WITH APPLE
          </ion-label>
        </ion-chip>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
