.top-container {
  display: flex;
  width: 100%;
  min-height: 107px;
  background: linear-gradient(180deg, #6976B9 0%, rgba(105, 118, 185, 0.76) 100%);
  box-shadow: 0px 5px 10px rgba(73, 73, 73, 0.25);

  .top-body {
    width: 90%;
    margin: auto;
    display: flex;

    .text {
      margin: auto;
    }
  }
}

.body-container {
  border-color: #E5E5E5;
  min-height: auto;
}

.mt-2 {
  margin-top: 2px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-30 {
  margin-top: 30px;
}

.logout-btn {
  text-align: center;

  button {
    width: 218px;
    height: 53px;
    background: #F29D93;
    box-shadow: 4px 7px 20px rgba(109, 109, 109, 0.27);
    border-radius: 90px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }

}

.text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
