<ion-list *ngIf="this.primayFilterRemovalList.length">
  <ion-item>
    <ion-label>{{primayFilterRemovalList.length + 'Primary Filter Remover' }}</ion-label>
  </ion-item>

</ion-list>


<ion-list *ngIf="this.secondaryFilterRemovalList.length">
  <ion-item>
    <ion-label>{{secondaryFilterRemovalList.length + 'Primary Filter Remover' }}</ion-label>
  </ion-item>

</ion-list>

<ion-list *ngIf="this.addTurn.length">
  <ion-item>
    <ion-label>{{addTurn.length + 'Primary Filter Remover' }}</ion-label>
  </ion-item>

</ion-list>

<ion-list *ngIf="this.addTurn.length">
  <ion-item>
    <ion-label>{{addTurn.length + 'Primary Filter Remover' }}</ion-label>
  </ion-item>

</ion-list>