.top {
  width: 100vw;
  height: 107px;
  background: linear-gradient(180deg,
      #8b98dd 0%,
      rgba(105, 118, 185, 0.76) 100%);
}

.v-cntr {
  display: flex;
  align-items: center;
  height: 100%;
}


.delete-icon {
  margin-left: 20px;
  margin-top: 10px;
  color: red;
}

.ml-50 {
  margin-left: 50px;
}

.header-text {
  letter-spacing: 0.03em;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.box {
  display: flex;
  align-items: center;
}

.top-box {
  display: flex;
  align-items: center;
  width: 100%;
}

.v-cntr {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

.header-text {
  letter-spacing: 0.03em;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.cus-btn-sm {
  --color: black;
  width: 101px;
  height: 26px;
  --background: #ffffff;
  --box-shadow: 4px 7px 20px rgba(109, 109, 109, 0.27);
  --border-radius: 90px;
  letter-spacing: 0.03em;
  font-size: 12px;
}

.ml-2 {
  margin-left: 2px;
}

.ml-10 {
  margin-left: 10px;
}

.card {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(153, 153, 153, 0.37);
  border-radius: 10px;
  width: 129px;
  height: 169px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
  }

  .card-btn {
    width: 87px;
    height: 28px;
    --background: #99c43c;
    --border-radius: 30px;
  }
}

.card-container {
  width: 95%;
  margin: auto;
  display: flex;

  align-items: center;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.purple-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8892c8;
}

.ml-15 {
  margin-left: 15px;
}

.card-lg {
  font-family: Poppins;
  width: 95%;
  display: block;
  margin: 15px auto;
  border: 1px solid rgba(242, 157, 147, 0.45);
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(130, 130, 130, 0.25);
  border-radius: 20px;
  height: 330;

  .card-body {
    height: 250px;
    overflow: auto;
  }

  .card-header {
    background-color: #8892c8;
    height: 35px;
    padding-left: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    letter-spacing: 0.03em;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  .card-btn {
    width: 87px;
    height: 28px;
    --background: #99c43c;
    --border-radius: 30px;
  }
}

.btn-end {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-right: 20px;
}

.card-rect {
  width: 95%;
  height: 96px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(130, 130, 130, 0.25);
  border-radius: 20px;

  span {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.03em;
  }
}

.v-align {
  height: 100%;
  align-content: space-around;
}

.p-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

ion-grid {
  padding: 0px !important;
  overflow: auto;
  margin: 0px
}


.slide-wrapper {
  .swiper-slide img {
    width: none !important;
  }
}
