page-filters {
  .slide-zoom {
    color: #7d7d7d !important;
    font-size: 13px !important;
  }

  .range-bar {
    top: 27px !important;
    height: 10px !important;
  }

  .range-knob {
    width: 39px !important;
    height: 39px !important;
  }

  .range-pin {
    left: 10px !important;
  }

  .swiper-slide {
    .slide-zoom {
      width: auto !important;
    }
  }

  ion-slides {
    height: 35vh;
  }

  #back {
    padding: 15px 15px 35px 15px;
    position: relative;
  }

  #back-img {
    margin: auto;
    float: left;
    height: auto;
    width: 10%;
  }

  /* in-flight clone */
  .gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
  }

  /* high-performance display:none; helper */
  .gu-hide {
    left: -9999px !important;
  }

  /* added to mirrorContainer (default = body) while dragging */
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }

  /* added to the source element while its mirror is dragged */
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }

  ion-content {
    .scroll-content {
      background: #000 !important;
      overflow-y: hidden !important;

    }
  }

}


.toHide canvas:nth-child(2) {
  display: none !important;
}

.toHide1 canvas:nth-child(2) {
  display: none !important;
}

.toHide2 canvas:nth-child(2) {
  display: none !important;
}

.toHide3 canvas:nth-child(2) {
  display: none !important;
}

.spaceinrow {
  display: flex;
  justify-content: space-between;
}

#container canvas {
  width: 100% !important;
}

.main-footer {
  height: 50px;
  width: 100%;
  display: flex;
  background: #8396d5 !important;

  ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
.selectedSegment {
  font-weight: bold;
  color: white;
  // text-decoration: underline !important;
}

.notSelected {
  color: white;
  opacity: 0.5;
}

.top-buttons-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: linear-gradient(180deg, #6976B9 0%, rgba(105, 118, 185, 0.76) 100%);

  .in-left {
    img {}
  }

  .in-right {
    button {
      background: #0f77f0;
      border-radius: 20px;
      font-size: 14px;
      padding: 0px 25px;
    }
  }
}

.cus-btn {
  --background: #99c43c;
  --border-radius: 30px;
  width: auto;

  font-size: 14px;
  letter-spacing: 0.03em;
}

.loaderContainer {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
