// .reset-container{
//   width: 85%;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//     p {
//       justify-content: center;
//     }
// }





p {
  font-family: Poppins;
}

.danger {
  color: red;
}

.blueBg>ion-col {
  background-color: #707BBD;
}

:host {
  ion-checkbox {
    --size: 15px;
  }
}

.mt-50 {
  margin-top: 50px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-50 {
  margin-bottom: 50px;
}

.w-100 {
  width: 100% !important;
}

.text-center {
  text-align: center;
}

.cus-card {
  margin-top: -50px;
  position: relative;
  border-radius: 50px;
  background-color: white;
}

.mt-5 {
  margin-top: 5px;
}

.pl-20 {
  padding-left: 20px;
  padding-top: 20px;
}

.cus-chip-dis {
  background: #D6ECA6;
  border-radius: 30px;
  width: 330px;
  height: 53px;
  pointer-events: none;
}

.cus-chip {
  background: #ABCD61;
  border-radius: 30px;
  width: 330px;
  height: 53px;
}

.cus-label {
  width: 100%;
  color: #FFFF;
  font-family: Poppins;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 16px;

}

.cus-chip-social {
  background: #FFFFFF;
  border-radius: 30px;
  width: 330px;
  height: 53px;
  border: 1px solid #DFDFDF;
}

.cus-label-social {
  width: 100%;
  color: #000000;
  font-family: Poppins;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 16px;

}

.separator {
  display: flex;
  align-items: center;
}

.separator .line {
  height: 2px;
  flex: 1;
  background-color: #B6B6B6;
}

.separator p {
  padding: 0 2rem;
  color: #B6B6B6;
  font-family: Poppins;
}

ion-row>ion-col>ion-item>ion-input {
  font-family: Poppins;
  font-size: 14px;
}

ion-item>ion-label {
  font-family: Poppins;
  font-size: 14px;
}

ion-item>ion-icon {
  // font-family: Poppins;
  font-size: 14px;
}

.eye {
  position: absolute;
  right: 10px;
  top: 30px;
  z-index: 10000;
}

ion-col {
  font-family: Poppins;
}

.fs-12 {
  font-size: 12px;
}

.mt-30 {
  margin-top: 30px;
}

.social-chip-space {
  display: flex;
  justify-content: space-evenly;
}

.ml-20 {
  margin-left: 20px;
}

ion-grid {
  padding: 0px !important;
  overflow-y: auto;
  margin: 0px
}
