<ion-content>
  <ion-grid>
    <ion-row class="blueBg">
      <ion-col>
        <div class="text-center mb-50">
          <img class="mt-50 mb-10" width="277" height="78" src="assets/logo.png" alt="" />
        </div>
      </ion-col>
    </ion-row>

    <ion-grid class="cus-card">

      <ion-row>
        <ion-col class="pl-20">
          <div>
            <ion-icon [routerLink]="['/home']" size="large" name="close-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="mt-5">
        <ion-col>
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="mail" slot="start"></ion-icon>
              Email
            </ion-label>
            <ion-input name='email' [(ngModel)]="email"></ion-input>
          </ion-item>




        </ion-col>
      </ion-row>




    </ion-grid>

    <ion-row class="mt-30">
      <ion-col class="text-center">

        <ion-chip class='cus-chip' (click)="onSendCode()">
          <ion-label class="text-center cus-label">
            Reset Password
          </ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>