<div class="main-container">
  <div class="list mt-15" (click)="onBuyFilter()">
    <div>
      <img src="assets/icon/filter-icon.svg" />
      <span class="pl-5 filter-text">Primary Filter</span>
    </div>
    <div class="cus-btn">
      <img width="15" src="assets/currency-log-w.svg" alt="">
      <span class="wh-text">3000</span>
    </div>
  </div>
  <div class="list mt-15" (click)="onBuyFilter()">
    <div>
      <img src="assets/icon/filter-icon.svg" />
      <span class="pl-5 filter-text">Secondary Filter</span>
    </div>
    <div class="cus-btn">
      <img width="15" src="assets/currency-log-w.svg" alt="">
      <span class="wh-text">3000</span>
    </div>
  </div>
</div>