<ion-content>
  <ion-grid>
    <ion-row class="blueBg">
      <ion-col>
        <div class="text-center mb-50">
          <img class="mt-50 mb-10" width="277" height="78" src="assets/logo.png" alt="" />
        </div>
      </ion-col>
    </ion-row>

    <ion-grid class="cus-card">

      <form [formGroup]="profileForm">
        <ion-row>
          <ion-col class="pl-20">
            <div>
              <ion-icon (click)="onGoToSettingPage()" size="large" name="close-outline"></ion-icon>
            </div>
          </ion-col>
        </ion-row>

        <!-- <ion-row class="mt-10">
          <ion-col>
            <ion-item>
              <ion-label position="floating">
                <ion-icon name="person" slot="start"></ion-icon>
                Username
              </ion-label>
              <ion-input formControlName="user_name"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <div *ngIf="getProfileFormError()?.user_name.touched && getProfileFormError()?.user_name.errors">
          <p class="pl-20 text-danger" *ngIf="getProfileFormError()?.user_name.errors.required">
            User Name is required
          </p>
          <p class="pl-20 text-danger" *ngIf="getProfileFormError()?.user_name.errors.minlength">
            Minimum Length is {{getProfileFormError()?.user_name.errors.minlength.requiredLength}}
          </p>
        </div>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">
                <ion-icon name="mail" slot="start"></ion-icon>
                Email
              </ion-label>
              <ion-input formControlName="email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <div *ngIf="getProfileFormError()?.email.touched && getProfileFormError()?.email.errors">
          <p class="pl-20 text-danger" *ngIf="getProfileFormError()?.email.errors.required">
            Email is required
          </p>
          <p class="pl-20 text-danger" *ngIf="getProfileFormError()?.email.errors.email">
            Email is incorrect
          </p>
        </div> -->

        <!-- <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">
                <ion-icon name="lock-closed"></ion-icon>
                Password
              </ion-label>
              <ion-icon class="eye" name="eye-off-outline" slot="end"></ion-icon>
              <ion-input formControlName="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <div *ngIf="getProfileFormError()?.password.touched && getProfileFormError()?.password.errors">
          <p class="pl-20 text-danger" *ngIf="getProfileFormError()?.password.errors.required">
            Password is required
          </p>
          <p class="pl-20 text-danger" *ngIf="getProfileFormError()?.password.errors.minlength">
            Minimum Length is {{getProfileFormError()?.password.errors.minlength.requiredLength}}
          </p>
        </div> -->


        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">
                <ion-icon name="call-outline"></ion-icon>
                Phone Number
              </ion-label>
              <!-- <ion-icon class="eye" name="eye-off-outline" slot="end"></ion-icon> -->
              <ion-input formControlName="phone_number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>


        <!-- <div *ngIf="getProfileFormError()?.password.touched && getProfileFormError()?.password.errors">
          <p class="pl-20 text-danger" *ngIf="getProfileFormError()?.password.errors.required">
            Password is required
          </p>
          <p class="pl-20 text-danger" *ngIf="getProfileFormError()?.password.errors.minlength">
            Minimum Length is {{getProfileFormError()?.password.errors.minlength.requiredLength}}
          </p>
        </div> -->






        <ion-row class="mt-5">
          <ion-col size="1" class="pl-20">
            <ion-checkbox (ionChange)="onClick($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="pfCheckBox"
              name="pfCheckBox"></ion-checkbox>
          </ion-col>
          <ion-col class="pl-20 fs-12" size="11">
            By creating an account, I agree to the Terms of Service and Privacy
            Policy located, respectively, here and here.
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>

    <ion-row class="mt-30">
      <ion-col class="text-center">
        <div *ngIf="showSignUpLoader" class="loader1"></div>
        <ion-chip *ngIf="!showSignUpLoader" (click)="onSignUp()"
          [ngClass]="profileForm.valid && pfCheckBox  ? 'cus-chip' : 'cus-chip-dis'">
          <ion-label class="text-center cus-label">
            Update
          </ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>




  </ion-grid>
</ion-content>

<!--
  <div>
    <div class="upper">
      <img class="mt-50 mb-10" width="277" height="78" src="assets/logo.png" alt="">
    </div>

    <div class="lower">
    <ion-label>asa</ion-label><br>
    <ion-label>asa</ion-label><br>
    <ion-label>asa</ion-label><br>
    <ion-label>asa</ion-label><br>
    <ion-label>asa</ion-label>
    </div>
  </div> -->