<ion-content>
  <ion-grid>


    <ion-row class=" blue-bg">
      <div class="user-container">
        <div class="img-container">
          <img src="assets/dummy-user.jpg" alt="" width="55" style="border-radius: 50%;  vertical-align: middle;" />
          <span class="pl-10 username-css">{{this.user.user_name}}</span>
        </div>
        <div class="box">
          <img style="z-index: 1" src="assets/currency-logo.svg" alt="" />
          <div class="currency-bg">
            <div class="content-center font-700 f-12">
              <span>{{this.user.puzzle_pieces ? this.user.puzzle_pieces : 0 }}</span>
            </div>
          </div>
          <div class="plus-bg ml--10" [routerLink]="['/main/store']">
            <img width="15" src="assets/plus.svg" alt="" />
          </div>
        </div>
      </div>
    </ion-row>

    <ion-row class="mt-10">
      <div class="lvl-card-container">
        <div class="lvl-circle">
          <span>lvl{{user.level_id}}</span>
        </div>

        <!-- align-self: center; width: {{progressPercent}}%; -->
        <div class="lvl-loader">
          <div class="loader" style="align-self: center; width: {{progressPercent}}%;"></div>
        </div>

        <div style="margin-left: auto" class="lvl-circle-y">
          <span>lvl{{user.level_id+1}}</span>
        </div>
      </div>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="card">
          <div class="card-header move">Your Move</div>
          <div class="card-body">
            <ng-container *ngFor="let user of gameList">
              <div class="top-box mt-10" *ngFor="let game of user.games">
                <div class="loader" *ngIf="!game.id"></div>
                <img *ngIf="game.id" class="ml-10" src="assets/dummy-user.jpg" alt="" width="55"
                  style="border-radius: 50%" />
                <span *ngIf="game.id" class="ml-2">{{user.user_name}}</span>

                <div *ngIf="game.id" class="btn-end">
                  <ion-button (click)="onPlayGame(game)" class="cus-btn">Play</ion-button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="card">
          <div class="card-header reward">Reward</div>
          <div class="card-body">
            <div class="body-header">
              <button *ngIf="claimList[0]?.claim_reward?.length" (click)="claimAllReward()" class="cus-btn">Calim
                All</button>
            </div>
            <ng-container *ngFor="let claim of claimList; index as i">
              <ng-container *ngFor="let claim_reward of claim.claim_reward">

                <div class="top-box mt-10">
                  <img class="ml-10" src="assets/dummy-user.jpg" alt="" width="55" style="border-radius: 50%" />
                  <span class="ml-2"
                    *ngIf="(claim.user_id == user.id) && (claim_reward.reward_id== 3)">{{claim.player.user_name}}
                    cracked your code</span>

                  <span class="ml-2" *ngIf="(claim.player_id == user.id) && (claim_reward.reward_id == 2)">You cracked
                    {{claim.user.user_name}} Code</span>

                  <span class="ml-2" *ngIf="(claim.user_id == user.id) &&  (claim_reward.reward_id== 2)">You cracked
                    {{claim.player.user_name}}</span>

                  <span class="ml-2"
                    *ngIf="(claim.player_id == user.id) && (claim_reward.reward_id == 3)">{{claim.user.user_name}}
                    Cracked your code
                  </span>
                  <div class="btn-end">
                    <ion-button (click)="onRewardUpdate(claim_reward, i)" class="cus-btn">Claim
                    </ion-button>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>

        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="card">
          <div class="card-header givereward">Give Reward</div>
          <div class="card-body">
            <div class="body-header">
              <button *ngIf="claimList[0]?.give_reward?.length" (click)="giveRewardToAll()" class="cus-btn">Calim
                All</button>
            </div>
            <ng-container *ngFor="let claim of claimList; index as i">
              <ng-container *ngFor="let give_reward of claim.give_reward">

                <div class="top-box mt-10">
                  <img class="ml-10" src="assets/dummy-user.jpg" alt="" width="55" style="border-radius: 50%" />

                  <span class="ml-2" *ngIf="(claim.player_id == user.id) && (give_reward.reward_id== 4 )">Give Reward to
                    {{claim.user.user_name}}</span>


                  <span class="ml-2" *ngIf="(claim.user_id == user.id) && (give_reward.reward_id== 4 )">Give Reward to
                    {{claim.player.user_name}}</span>



                  <div class="btn-end">
                    <ion-button (click)="onRewardUpdate(give_reward, i)" class="cus-btn">Claim</ion-button>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <!-- <div class="loader1"></div> -->
        <div class="play-cus-btn">
          <ion-button (click)="onNewGameEvent()">New Game
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>