<ion-content>
  <ion-grid>
    <ion-row>
      <div class="text-center mt-165 w-100">
        <img width="277px" height="78px" src="assets/logo.png" alt="">
        <div class="text-center land-text">
          Turn your pictures into puzzles <br> and stump your friends
        </div>
      </div>
    </ion-row>

    <ion-row>
      <div [routerLink]="['/sign-up']" class="mt-190  text-center w-100">
        <ion-chip class="cus-chip">
          <ion-label class="cus-label">Sign Up Now</ion-label>
        </ion-chip>
      </div>

    </ion-row>

    <ion-row>
      <ion-col>
        <div class="separator">
          <div class="line"></div>
          <p>OR</p>
          <div class="line"></div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div [routerLink]="['/login']" class="text-center cus-login">LOG IN</div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
