<ion-grid>
  <ion-row class="top">
      <ion-col>
        <ion-row class="top-box">
          <ion-col >
            <div class="box img-container">
              <!-- <ion-back-button defaultHref="filter" *ngIf="filterPage" icon="chevron-back-outline"></ion-back-button> -->
              <img src="assets/dummy-user.jpg" alt="" width="55" style="border-radius: 50%; margin-left: 5px" />
              <span class="pl-10 username-css">{{this.user.user_name}}</span>
            </div>
          </ion-col>
          <ion-col style="display: flex; align-items: center; justify-content: center;">
            <div class="box">
              <span class="v-cntr header-text">STORE</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="box">
              <img class="ml--10" style="z-index: 1" src="assets/currency-logo.svg" alt="" />
              <div class="currency-bg">
                <div class="content-center font-700 f-12">
                  <span>{{user.puzzle_pieces}}</span>
                </div>
              </div>
              <div class="plus-bg ml--10">
                <img width="15" src="assets/plus.svg" alt="" />
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      
  </ion-row>

  <ion-row>
    <ion-col class="store-bg" size="12">
      <div class="store-body">
        <p>Claim daily puzzle pieces!</p>
        <div class="logo-bg">
          <div>
            <img id="claim-image-1" width="38" src="assets/currency-logo-b.svg" alt="">
            <br>
            <div style="text-align: center; color: white;">10</div>
          </div>
          <div>
            <img id="claim-image-2" width="38" src="assets/currency-logo-b.svg" alt="">
            <br>
            <div style="text-align: center; color: white;">20</div>
          </div>
          <div>
            <img id="claim-image-3" width="38" src="assets/currency-logo-b.svg" alt="">
            <br>
            <div style="text-align: center; color: white;">30</div>
          </div>
          <div>
            <img id="claim-image-4" width="38" src="assets/currency-logo-b.svg" alt="">
            <br>
            <div style="text-align: center; color: white;">40</div>
          </div>
          <div>
            <img id="claim-image-5" width="38" src="assets/currency-logo-b.svg" alt="">
            <br>
            <div style="text-align: center; color: white;">50</div>
          </div>
          
          <!-- <img id="claim-image-2" width="38" src="assets/currency-logo-b.svg" alt=""> 20
          <img id="claim-image-3" width="38" src="assets/currency-logo-b.svg" alt=""> 30
          <img id="claim-image-4" width="38" src="assets/currency-logo-b.svg" alt=""> 40
          <img id="claim-image-5" width="38" src="assets/currency-logo-b.svg" alt=""> 50 -->
        </div>
        <ion-button  disabled="{{ buttonDisabled }}" id="claim-btn" class="cus-btn" (click)="claimDailyReward()"  >CLAIM</ion-button>
      </div>

    </ion-col>
  </ion-row>

  <ion-row class="mt-25">
    <div class="card ">
      <div class="card-header">
        <span (click)="changeTab('f')" [ngClass]="isFilterOpened ? 'selected-tab' : null">Filters</span>
        <span (click)="changeTab('b')" [ngClass]="isBundleOpened ? 'selected-tab' : null">Bundles</span>
        <span (click)="changeTab('i')" [ngClass]="isItemOpened ? 'selected-tab' : null">Items</span>
      </div>

      <div class="card-body mt-2">

        <app-filter [getFilterData]="filterData" (messageEvent)="receiveMessage($event)" *ngIf="isFilterOpened">
        </app-filter>
        <app-item *ngIf="isItemOpened"></app-item>
        <app-bundle *ngIf="isBundleOpened"></app-bundle>
      </div>
    </div>
  </ion-row>


  <ion-row class="text-center">
    <div style="width: 100%; height: 50px;"></div>
 </ion-row>
</ion-grid>
<ion-button *ngIf="lastGameCheck" class="play-cus-btn" (click)="onLastGameEvent()">
  Continue Game
</ion-button>
<ion-button *ngIf="filterPage" class="play-cus-btn" (click)="backToGame()">
  Back to Game
</ion-button>