<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997921265945-comsu2mres78pejkkrta1mm1okte17m0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997921265945-comsu2mres78pejkkrta1mm1okte17m0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>997921265945-l346ar4qsdb9sbr3gm0sn2pn47474k3d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBjSuRgNX1E9YSdWI9teeSN1sh_EJCeAFc</string>
	<key>GCM_SENDER_ID</key>
	<string>997921265945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.picplayce.game</string>
	<key>PROJECT_ID</key>
	<string>picplayceprod</string>
	<key>STORAGE_BUCKET</key>
	<string>picplayceprod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997921265945:ios:a1a509b6d8fc46448b4d88</string>
	<key>DATABASE_URL</key>
	<string>https://picplayceprod.firebaseio.com</string>
</dict>
</plist>